doctype
html
  head
    title Lab
    link(type='text/css' rel='stylesheet' href='main.css')
  body
    .container
      h1 Loaders
      .container__content
        .spinner--1
        .spinner--2
        .spinner--3
        .spinner--4